!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title About
    = stylesheet_link_tag 'pages', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'nav', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'common', media: 'all', 'data-turbolinks-track': 'reload'
    %link{:href => "https://fonts.googleapis.com/css2?family=Roboto&display=swap", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap", :rel => "stylesheet"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewort"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    .skewed-header
      .header-bg{ style: "background-image: url(#{image_path 'backgrounds/fries-about-bg.jpg'}); background-position: center;" }
      .skewed-header-wrapper
        .skewed-header-content
          .heading-wrapper
            %h1
              About Us
          .links-wrapper
            .nav-link
              = link_to "Home", root_path
            .nav-link
              = link_to "About", about_path
            .nav-link
              = link_to "Menu", menu_path
            .nav-link
              = link_to "Contact", contact_path

