.skewed-header
  .header-bg{ style: "background-image: url(#{image_path 'backgrounds/fries-about-bg.jpg'}); background-position: center;" }
  .skewed-header-wrapper
    .skewed-header-content
      .heading-wrapper
        %h1
          About Us
      .links-wrapper
        .nav-link
          = link_to "Home", root_path
        .nav-link
          = link_to "About", about_path
        .nav-link
          = link_to "Menu", menu_path
        .nav-link
          = link_to "Contact", contact_path
.page-container
  .content-wrapper
    /images goes here
    = image_tag("people/chef.jpg", alt: "Chief", id: "chef")
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae mattis nunc. Aliquam mi nisl, maximus quis pellentesque eu, sollicitudin id orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc et vehicula felis. Nam sagittis, libero quis iaculis porta, libero libero pretium ipsum, in pulvinar est enim non libero. Aenean sit amet nisi dui. Nullam suscipit ut purus sed lobortis. Aliquam erat volutpat. Nulla a pretium enim, eget dapibus neque. Vestibulum tempus fringilla erat non mollis. Aenean a tortor eu ante lacinia venenatis. Aenean lobortis arcu purus, sed tristique sem interdum ut. Mauris euismod elit non egestas commodo. Phasellus vel consectetur quam. Morbi nisl magna, tempus pellentesque enim sed, dapibus tincidunt dolor. Vestibulum lorem est, facilisis vitae arcu et, molestie sagittis arcu. Maecenas elit neque, vulputate vitae auctor eget, hendrerit eu enim. Donec non ullamcorper arcu, vitae varius erat. Nullam ornare lectus euismod nulla dapibus, id efficitur massa commodo. Fusce ac metus elementum, fringilla justo non, finibus nunc. Donec eget eros nisl. Quisque dignissim, urna non gravida suscipit, ante justo viverra ante, non fermentum mi enim ut mi. Cras sapien ante, tempor quis mattis a, iaculis sed erat. Sed porttitor ligula nec massa vestibulum.
    %p
      Pellentesque lectus ligula, ornare vitae dolor non, lacinia semper tortor. Donec a sem id lacus mattis malesuada. Proin sed auctor velit. Proin ac nibh a lectus interdum elementum sed at elit. Vestibulum tincidunt elit ante, at tempus velit commodo maximus. Praesent laoreet turpis quis eros semper, quis feugiat sem faucibus. Aenean aliquam nulla elit, ut semper diam laoreet quis. Vivamus facilisis velit lorem, non sagittis nunc mollis id. Nulla ac turpis a nisi lacinia aliquam. Donec aliquam ligula id hendrerit iaculis. Aliquam ornare, nisl at mollis aliquet, diam quam sagittis risus, sit amet molestie lacus arcu at arcu. Vivamus venenatis sapien non leo pharetra efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate, lacus eget iaculis porttitor, sapien sapien aliquet est, consequat elementum urna sem pharetra nibh. Curabitur ac volutpat nisl. Maecenas ut luctus nibh, quis molestie arcu. Donec at tempor odio. Proin porttitor, eros a laoreet volutpat, ante lectus auctor nibh, quis imperdiet ipsum turpis ut tellus. Sed massa libero, convallis quis faucibus eu, scelerisque a elit. Nunc hendrerit ex sit amet rhoncus scelerisque. Cras rhoncus risus sed justo vestibulum, sed faucibus velit fermentum. Mauris gravida eros faucibus auctor suscipit. Donec mollis massa id luctus bibendum. Quisque volutpat justo libero, blandit accumsan metus rhoncus sed. Donec suscipit rutrum turpis a viverra. Nam sit amet elit condimentum, eleifend diam at, mattis erat. Aliquam et pharetra erat. Quisque fringilla fringilla sollicitudin. Cras blandit nulla dui, vel ullamcorper mauris lobortis et. Ut in imperdiet justo. Integer maximus tortor ac mattis sollicitudin. Etiam porttitor ut urna a imperdiet. Nam sed sodales lectus. Sed varius dapibus justo, ut molestie purus tincidunt nec. Nullam a tortor nec neque porta aliquet vitae in orci. Duis mattis dui non ipsum auctor, et cursus dui sodales. Phasellus sagittis nec arcu vitae feugiat. Cras mattis, odio in aliquet tincidunt, eros nibh euismod risus, eu condimentum risus ex viverra nisl. In aliquam enim sit amet hendrerit ornare. Aenean lobortis eu urna et porttitor. In vehicula luctus augue. Nulla nec rutrum massa, sed iaculis erat. Ut vulputate volutpat tincidunt. Pellentesque tempus consectetur dui, eget consectetur nunc imperdiet ac. In.
.spacer60
.squares-wrapper
  .squares
    .square
      .img-wrapper
        = image_tag("squares/fries2.jpg", alt: 'Fries')
      .square-text-wrapper
        %h1
          Dolor nesciunt quasi vel quas impedit laborum? Magnam.
        %p
          Consectetur rerum quae ipsam elit cum? Mollitia rem totam rerum deleniti tenetur nihil pariatur. Optio tempore itaque odit rem harum sed inventore? Quos fuga corrupti quasi quis doloremque? Debitis nesciunt eos vel eos perspiciatis Dolores quidem voluptates debitis illo tempora Et nobis cupiditate consectetur magnam assumenda! Voluptate quas sunt pariatur.
    .square
      .square-text-wrapper
        %h1
          Dolor nesciunt quasi vel quas impedit laborum? Magnam.
        %p
          Consectetur rerum quae ipsam elit cum? Mollitia rem totam rerum deleniti tenetur nihil pariatur. Optio tempore itaque odit rem harum sed inventore? Quos fuga corrupti quasi quis doloremque? Debitis nesciunt eos vel eos perspiciatis Dolores quidem voluptates debitis illo tempora Et nobis cupiditate consectetur magnam assumenda! Voluptate quas sunt pariatur.
      .img-wrapper
        = image_tag("squares/fries1.jpg", alt: 'Fries')
.spacer60
.footer
  .logo-footer
    = image_tag("logos/decamp-fantastic-fries-logo-white.png", alt: "Logo")
  .footer-phone-hours
    %span.phone
      555 555 5555
    %span.hours
      10 am - midnight
  .links-wrapper
    .nav-link
      = link_to "Home", root_path
    .nav-link
      = link_to "About", about_path
    .nav-link
      = link_to "Menu", menu_path
    .nav-link
      = link_to "Contact", contact_path
  .social-media-icons-wrapper
    %a{:href => "#"}
      %i.fab.fa-instagram
    %a{:href => "#"}
      %i.fab.fa-twitter
    %a{:href => "#"}
      %i.fab.fa-facebook-f
  .copyright-wrapper
    © 2020 IDnilov | All rights reserved
